---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - pods
  - services
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - custom.metrics.k8s.io
  - external.metrics.k8s.io
  resources:
  - '*'
  verbs:
  - get
  - list
- apiGroups:
  - dbupgrade.subbug.learning
  resources:
  - dbupgrades
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dbupgrade.subbug.learning
  resources:
  - dbupgrades/finalizers
  verbs:
  - update
- apiGroups:
  - dbupgrade.subbug.learning
  resources:
  - dbupgrades/status
  verbs:
  - get
  - patch
  - update
